$purple: #9F81F7;
$blue: #5882FA;

$primary: $purple;
$secondary: $blue;

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
    
$helvetica: Helvetica, Arial, sans-serif;
$yanone-kaffeesatz: 'Yanone Kaffeesatz', sans-serif;